<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<p>
        Green Garden mang đến một cuộc sống vẹn toàn không chỉ từ tiện nghi bên trong căn
        hộ mà còn từ vị trí kết nối toàn khu vực. Từ đây, cư dân chỉ mất khoảng 5 phút để
        vào trung tâm Quận 1 và Khu đô thị Phú Mỹ Hưng, đồng thời dễ dàng tận hưởng những
        tiện ích hàng đầu chỉ trong bán kính 2km.</p>
    <p>
        Với vị trí đắc địa bên dòng sông xanh thanh bình của khu Trung Sơn, Green Garden
        tạo nên một cuộc sống trong lành, xanh mát ngay giữa Sài Gòn nhộn nhịp, mang đến
        sức khỏe cho cư dân.</p>
    <div class="location-item">
        <div class="location-list">
            <ul>
                <li>Trường Quốc Tế Singapore</li>
                <li>Trường Quốc Tế ABC</li>
                <li>Trường Quốc Tế Bắc Mỹ</li>
            </ul>
        </div>
        <div class="location-minute">
            <span><strong>5</strong> phút</span>
        </div>
    </div>
    <div class="location-item">
        <div class="location-list">
            <ul>
                <li>Khu vui chơi Vietopia</li>
                <li>Đại Học Cảnh sát nhân dân</li>
                <li>Đại học Tôn Đức Thắng</li>
            </ul>
        </div>
        <div class="location-minute">
            <span><strong>10</strong> phút</span>
        </div>
    </div>
    <div class="location-item">
        <div class="location-list">
            <ul>
                <li>Đại học RMIT</li>
                <li>Đại Học Cảnh sát nhân dân</li>
                <li>Đại học Tôn Đức Thắng</li>
            </ul>
        </div>
        <div class="location-minute">
            <span><strong>15</strong> phút</span>
        </div>
    </div>
</body>
</html>